<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
</head>
<body>
    <div class="center-obj">
        <h1>Welcome to Stock Market Predictor</h1>
    </div>
</body>